<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.useenator.tutsmusicplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".arch.PlayFullScreenActivity"
            android:launchMode="singleTop"

            android:theme="@style/AppTheme.NoActionBar">
        </activity>            <!--android:screenOrientation="portrait"-->
        <activity android:name=".ui.FullActivity">
        </activity>

        <!--<receiver android:name=".FullActivity$TrackChangeReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.media.AUDIO_BECOMING_NOISY" />-->

            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete" />
                <action android:name="com.tutorialsface.audioplayer.pause" />
                <action android:name="com.tutorialsface.audioplayer.next" />
                <action android:name="com.tutorialsface.audioplayer.play" />
                <action android:name="com.tutorialsface.audioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
